:root {
  --color-blue: #4D4DFF;
  --color-green: #3ABF3A;
  --color-purple: #BF3ABF;
  --color-red: #BF3A3A;
  --color-teal: #3ABFBF;
  --color-yellow: #BFBF3A;

  --color-l-blue: #D1D1FF;
  --color-l-green: #D1F1D1;
  --color-l-purple: #E8CCE8;
  --color-l-red: #E5C1C1;
  --color-l-teal: #D0E7E7;
  --color-l-yellow: #E4E79B;

  --card-width: 94.5px;
  --card-height: 132px;
}

.mini {
  width: var(--card-width);
  height: var(--card-height);
  border: 8px solid;
  border-radius: 5px;
  margin: 4px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background-size: cover !important;
    background-position: center;
}

.mini .name-block {
  width: 100%;
  padding: 5px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  background-color: white;
  color: black;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;

  display: none;
}

.mini .name-block .name {
  flex: 1;
  margin: 0;
  text-align: center;
  font-size: 8px;
}

.mini .name-block .soul {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid black;
  margin: 0 5px;
}


.mini .soul-block {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5px;
  padding: 5px 0;
  flex-direction: column;
}

.mini .soul-block .soul {
  width: 20px;
  height: 20px;
  font-size: 12px;
  border-radius: 50%;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Subtle drop shadow */
  
}

.soul.undefined{display: none!important;}

.Soul .soul-block .soul {
  display: none;
}
.mini .effect {
  font-size: 12px;
  text-transform: uppercase;  
  padding: 2px;
  text-align: center;
  width: 90%;
  margin-top: 5px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 1.5;
  color: black;

}

/* Entry - Orange Glow */
.mini .effect.entry {
  background: linear-gradient(135deg, #ffb79d, #ff9c79);
  box-shadow: 0 0 3px #FF7F50, 0 0 5px #FF4500; /* Much softer glowing orange */
}

/* Ability - Purple Glow */
.mini .effect.ability {
  background: linear-gradient(135deg, #7762ff, #a03bff);
  letter-spacing: 1.5px;
  box-shadow: 0 0 3px #6A5ACD, 0 0 5px #8A2BE2; /* Much softer glowing purple */
}

/* Aura - Chartreuse Glow */
.mini .effect.aura {
  background: linear-gradient(135deg, #7FFF00, #32CD32);
  box-shadow: 0 0 3px #7FFF00, 0 0 5px #32CD32; /* Much softer glowing chartreuse */
}


/* Icon Styling */
.icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  font-size: 2px;
  background-image: url(/art/type_icons.png);
  background-size: 175px;
}
.icon.b {
  background-position: 0;
}

.icon.g {
  background-position: -25px;
}

.icon.p {
  background-position: -50px;
}

.icon.r {
  background-position: -75px;
}

.icon.t {
  background-position: -100px;
}

.icon.y {
  background-position: -125px;
}

/* Soul Colors */
.soul.b, .blue .color,.icon.b {
  background-color: var(--color-blue);
}

.soul.g, .green .color,.icon.g  {
  background-color: var(--color-green);
}

.soul.p, .purple .color, .icon.p {
  background-color: var(--color-purple);
}

.soul.r, .red .color, .icon.r  {
  background-color: var(--color-red);
}

.soul.t, .teal .color,.icon.t {
  background-color: var(--color-teal);
}

.soul.y, .yellow .color,.icon.y  {
  background-color: var(--color-yellow);
}

.soul.w {
  background-color: #c4c4c4;
}

.mini.blue {
  border-color: rgb(1, 1, 102);
}

.mini.green {
  border-color: rgb(1, 102, 1);
}

.mini.red {border-color: rgb(102, 25, 1)}